
/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/


body{
	background-image: url("./assets/nuestros-vinos/bg-nuestros-vinos.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*.contentPage > .contenedor h2{
	font-family: "neutra2displaylight";
	font-weight: normal;
	font-size: 40px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #000;
}

.lt-ie9 .contentPage > .contenedor h2{
	font-family: 'sofia_prolight', sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
}*/

.contentPage > .contenedor h2{
	font-family: 'sofia_prolight', sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #000;
}

/*.contentPage > .contenedor h3,
.contentPage > .contenedor h4{
	font-family: "neutraface2displaybold";
	font-size: 18px;
	line-height: 22px;
	color: #000;
	font-weight: normal;
}*/

.contentPage > .contenedor h3,
.contentPage > .contenedor h4{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #000;
}

.contentPage > .contenedor h3{
	text-transform: uppercase;
	margin-bottom: 12px;
}

.contentPage > .contenedor h4{
	margin-bottom: 6px;
}

/*.contentPage > .contenedor p,
.contentPage > .contenedor dd{
	font-family: 'neutra2displaymedium';

	font-size: 18px;
}*/

.contentPage > .contenedor p,
.contentPage > .contenedor dd{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}

.contentPage > .contenedor .left-col {
	float: left;
	width: 40%;

}

.contentPage > .contenedor .left-col .scroll{
	height: 400px;
	overflow: auto;
}

.scroll .jspDrag{
	background: #000;
}


.scroll .jspTrack{
	background: #bcbcbc;
}

.contentPage > .contenedor .right-col {
	float: right;
	background: url('./assets/cepas/fd_cepas-principal.png') center no-repeat;
	min-width: 507px;
	min-height: 566px;
	position: relative;
}

.contentPage > .contenedor .left-col .bloque{
	margin-bottom: 23px;
}

.contentPage > .contenedor .right-col dl{
	position: absolute;
	width: 160px;
}

.contentPage > .contenedor .right-col dl.sauvignon-blanc{
	top: 30px;
	left: 40px;
	width: 205px;
}

.contentPage > .contenedor .right-col dl.tempranillo{
	top: 90px;
	left: -30px;
}

.contentPage > .contenedor .right-col dl.malbec{
	top: 214px;
	left: 0;
}

.contentPage > .contenedor .right-col dl.syrah{
	top: 335px;
	left: -30px;
}

.contentPage > .contenedor .right-col dl.semillon{
	top: 70px;
	right: 160px;
}

.contentPage > .contenedor .right-col dl.chardonnay{
	top: 114px;
	right: 60px;
}

.contentPage > .contenedor .right-col dl.cabernet-sauvignon{
	top: 214px;
	right: 60px;
	width: 225px;
}

.contentPage > .contenedor .right-col dl.merlot{
	top: 352px;
	right: 80px;
}

.contentPage > .contenedor .right-col dt{
	background: url('./assets/cepas/sp_iconos.png') top right no-repeat;
	padding-right: 36px;
	line-height: 31px;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}

.contentPage > .contenedor .right-col dt span{
	background: #000;
	padding: 0 10px;
	display: block;
}

.contentPage > .contenedor .right-col dt.active{
	background: url('./assets/cepas/sp_iconos.png') bottom right no-repeat;
	color: #000;
}

.contentPage > .contenedor .right-col dt.active span{
	background: #fff;
}

.contentPage > .contenedor .right-col dd {
	background: #fff;
	padding: 4px 10px;
	display: none;
	color: #000;
	margin-top: 1px;
	z-index: 100;
	position: relative;
}
