@media only screen and (min-width: 320px) {
  header nav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  header nav {
    display: block;
  }
}

@media only screen and (min-width: 320px) {
  footer .contenedor {
    height: 72px;
  }
}

@media only screen and (min-width: 768px) {
  footer .contenedor {
    height: 44px;
  }
}

@media only screen and (min-width: 320px) {
  footer .contenedor nav {
    float: none;
  }
}

@media only screen and (min-width: 768px) {
  footer .contenedor nav {
    float: right;
  }
}

@media only screen and (min-width: 320px) {
  footer .contenedor nav ul.links a {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  footer .contenedor nav ul.links a {
    font-size: 11px;
  }
}

@media only screen and (min-width: 320px) {
  footer .contenedor nav .social {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  footer .contenedor nav .social {
    display: block;
  }
}

@media only screen and (min-width: 320px) {
  footer .contenedor p {
    font-size: 8px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 768px) {
  footer .contenedor p {
    font-size: 11px;
    text-transform: none;
  }
}

.content-mobile {
  padding: 25px 18px;
}

@media only screen and (min-width: 320px) {
  .mobileoff {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobileoff {
    display: block;
  }
}

@media only screen and (min-width: 320px) {
  .mobileon {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .mobileon {
    display: none;
  }
}