body{
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.contentPage.principal{
	position: static;
}

#maximage {
	display:none;
	position:fixed !important;
}

.no-js #maximage {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.no-js #maximage img{
	width: 100%;
	height: 100%;
}

#maximage .info-slider{
	position:absolute;
	margin-top: 90px;
	z-index:9999;
	left: 100px;
	right: 100px;
	height: 382px;
	top: 50%;
	margin-top: -191px;
}

/*#maximage .info-slider p{
	font-size: 100px;
	color: #fff;
	text-transform: uppercase;
	width: 650px;
	font-family: "neutra2displaylight";
	margin-bottom: 10px;
}*/

#maximage .info-slider p{
	font-size: 90px;
	font-family: 'sofia_prolight', sans-serif;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
	width: 650px;
}

#arrow_left, #arrow_right {
	bottom: 39%;
	height: 85px;
	position:absolute;
	width: 46px;
	z-index:2;
	text-indent: -9999px;
	background: url("./assets/arrows-slider.png") no-repeat;
}


.arrows{
	display: none;
}

#arrow_left {
	left: 30px;
	background-position: top left;
}

#arrow_right{
	right:30px;
	background-position: top right;
}

.cycle-nav {
    margin-top: 20px;
    z-index: 9999;
}

.cycle-nav ul {
    list-style-type:none;
}

.cycle-nav ul li {
    float: left;
    margin-right: 6px;
}

.cycle-nav ul li a {
    background: #fff;
    display: block;
    height: 16px;
    width: 16px;
    border: 2px solid #000;
    cursor: pointer;
}

.cycle-nav ul li.activeSlide a{
    background: #d1ab2c;
}
