body{
	background-image: url("./assets/bg-legales.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #272728;
}



/*.contentPage.principal h2{
	font-family: "neutra2displaylight";
	font-size: 41px;
	text-transform: uppercase;
	margin: 50px 0 30px;
	padding-bottom: 15px;
	border-bottom:1px solid #585656;
	font-weight: normal;
}*/

.contentPage.principal h2{
	font-family: "Muli", sans-serif;
	font-weight: 300;
	font-size: 41px;
	text-transform: uppercase;
	margin: 50px 0 30px;
	padding-bottom: 15px;
	border-bottom:1px solid #585656;
}

.info-container li,
.info-container li a,
.info-container p{
	color: #fff;
	font: 11px/14px tahoma, arial, helvetica, sans-serif;
	font-weight: normal;
}



/* Mapa */

.mapa .info-container li > ul{
	margin-left: 30px;
}

.mapa .info-container li > span{
	display: block;
}

.mapa .info-container li,
.mapa .info-container li > span,
.mapa .info-container li a{
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 17px;
}

.mapa .info-container  > ul > li > ul > li{
	margin-bottom: 10px;
}





/* Terminos de uso y Politicas de privacidad */

.terminos-y-politicas .info-container p{
	font: 11px/14px tahoma, arial, helvetica, sans-serif;
	margin-bottom: 25px;
}
