/*body{
	background-image: url("./assets/nuestros-vinos/bg-nuestros-vinos.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}*/

/*.contentPage > section{
	font-family: "neutra2displaymedium";
	font-size: 18px;
	background-repeat: no-repeat;
	font-weight: normal;
}*/

.contentPage > section{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 14px;
	line-height: 18px;
	background-repeat: no-repeat;
}

/*.contentPage > section h2{
	font-family: "neutra2displaylight";
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: normal;
}

.contentPage > section h2 span{
	font-family: "neutra2displaymedium";
	font-size: 51px;
	font-weight: normal;
}*/

.contentPage > section h2{
	font-family: 'sofia_prolight', sans-serif;
	font-weight: 300;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.contentPage > section h2 span{
	font-family: 'sofia_prolight', sans-serif;
	font-weight: 400;
	font-size: 40px;
}

.contentPage > section > .contenedor{
	position: relative;
}




/*
 * Links para navegacion
*/

.scroll-nav {
	position: fixed;
	right: 20px;
	top: 45%;
	z-index: 1000;
}

.scroll-nav li{
	margin: 10px 0;
}

.scroll-nav li a{
	display: block;
	width: 24px;
	height: 24px;
	background: #fff;
	position: relative;
}

.scroll-nav li a.active{
	background: #a53228;
}

/*.scroll-nav li a span{
	position: absolute;
	width: 135px;
	top: 0;
	bottom: 0;
	left: -150px;
	color: #fff;
	text-transform: uppercase;
	font-family: "neutra2displaymedium";
	font-size: 16px;
	background: #000;
	height: 14px;
	padding: 5px 5px 5px 10px;
	font-weight: normal;
}*/

.scroll-nav li a span{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 13px;
	position: absolute;
	width: 135px;
	top: 0;
	bottom: 0;
	left: -150px;
	color: #fff;
	text-transform: uppercase;
	background: #000;
	height: 14px;
	padding: 5px 5px 5px 10px;
}

.scroll-nav li a span:after{
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-top: 5px solid transparent;
	border-right: 5px solid #fff;
	border-bottom: 5px solid transparent;
	right: 0;
	top: 7px;
}

.scroll-nav li a.active span:after{
	border-right-color: #a53228;
}

/* Latitud 33 */

section.latitud{
	margin-top: 30px;
}

section.latitud,
section.latitud .contenedor{
	height: 1160px;
}

section.latitud .contenedor{
	background: url("./assets/nuestros-vinos/bg-contenedor-latitud.png") no-repeat top right;
}

.bloqueBlanco{
	padding: 28px;
	background: #fff;
	color: #000000;
}

section.latitud .bloque1{
	width: 379px;
	position: absolute;
	top: 190px;
	right: 0;
}

.contentPage a.ir-abajo,
.contentPage a.ir-abajo span{
	display: inline-block;
	line-height: 28px;
}

.contentPage a.ir-abajo{
	background: url("./assets/nuestros-vinos/bg-ir-abajo.png") right no-repeat;
	padding-right: 29px;
	font-size: 18px;
	color: #fff;
	position: absolute;
	bottom: -28px;
	left: 28px;
}

.contentPage a.ir-abajo span{
	background: #000;
	padding: 0 18px 0 16px;
}

.lt-ie9 .contentPage a.ir-abajo{
	font-size: 14px;
}

section.latitud .bloque2{
	width: 600px;
	position: absolute;
	top: 615px;
	right: 61px;
}



/* El origen */
section.el-origen{
	background-image: url("./assets/nuestros-vinos/bg-el-origen.jpg");
	background-position: center top;
}

section.el-origen,
section.el-origen .contenedor{
	height: 768px;
}

section.el-origen .contenedor{
	max-width: 842px;
	overflow: hidden;
}


section.el-origen h2{
	padding-top: 75px;
	margin: 0 0 40px 0;
}

section.el-origen article{
	width: 31.3%;
	margin-right: 3%;
	float: left;
}

section.el-origen article.last{
	margin-right: 0;
	padding-right: 0;
}

section.el-origen article h3{
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

section.el-origen article img{
	max-width: 100%;
	height: auto;
}

section.el-origen article .scroll{
	height: 175px;
	margin-top: 15px;
	overflow: auto;
}

section.el-origen article .scroll p{
	margin-bottom: 15px;
}


/* La creacion */
section.la-creacion{
	background-image: url("./assets/nuestros-vinos/bg-la-creacion.jpg");
	background-position: center top;
}

section.la-creacion,
section.la-creacion .contenedor{
	height: 578px;
}

section.la-creacion h2{
	padding-top: 75px;
	margin: 0 0 40px 0;
}

section.la-creacion article{
	width: 40%;
}

section.la-creacion .scroll{
	height:308px;
	overflow: auto;
}

section.la-creacion article p{
	margin-bottom: 15px;
}



/* El vino */

section.el-vino{
	background: url("./assets/nuestros-vinos/bg-el-vino.jpg") right top no-repeat;
	height: 1100px;
}

section.el-vino .contenido{
	/*height: 820px;
	overflow: hidden;*/
}

section.el-vino .bloqueBlanco{
	width: 52%;
}


.contenedorDetalleVino{
	margin-top: 180px;
	margin-bottom: 30px;
	height: 590px;
	position: relative;
}

.botellas-container{

}

.botellas-container ul{
	margin-top: 100px;
}

.botellas-container li{
	position: relative;
}

.botellas-container li img{
	max-width: 100%;
	height: auto;
	border: none;
}

.botellas-container li a{
	display: block;
}

.botellas-container .tooltip{
	display: none;
	position:absolute;
	background:#fff;
	width:200px;
	padding: 10px;
	text-align: left;
	z-index: 200;
	top: 160px;
	left: -10px;
}

.botellas-container .tooltip .more{
	cursor: pointer;
	color: #c3a84c;
}

.botellas-container .tooltip:after{
	content: '';
    height: 16px;
    position: absolute;
    left: 50px;
    top: -8px;
    width: 16px;
    background: url("./assets/pico-tooltio.png") no-repeat center top;
}

.botellas-container .tooltip h3{
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 14px;
}

.botellas-container .tooltip h3,
.botellas-container .tooltip p{
	color: #000;
}

.botellas-container li,
.el-vino nav li{
	width: 12.40%;
	margin-right: 0.1%;
	float: left;
	text-align: center;
}

.el-vino nav li{
	border-bottom: 9px solid;
	height: 37px;
	position: relative;
}

.el-vino nav li.last{
	margin-right: 0;
}


/*.el-vino nav li a{
	color: #fff;
	background: #000;
	text-transform: uppercase;
	font-size: 11px;
	font-family: "neutraface2displaybold";
	padding: 13px 3px;
	display: block;
	font-weight: normal;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}*/

.el-vino nav li a{
	font-size: 11px;
	font-family: 'sofia_prolight', sans-serif;
	color: #fff;
	background: #000;
	text-transform: uppercase;
	padding: 13px 3px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

	.el-vino nav .malbec{
		border-color: #a53228;
	}

	.el-vino nav .cabernet{
		border-color: #cb5f55;
	}

	.el-vino nav .merlot{
		border-color: #bd7f79;
	}

	.el-vino nav .syrah{
		border-color: #bda379;
	}

	.el-vino nav .tempranillo{
		border-color: #97a160;
	}

	.el-vino nav .chardonnay{
		border-color: #d3c746;
	}

	.el-vino nav .sauvignon{
		border-color: #d38f46;
	}

	.el-vino nav .tardio{
		border-color: #e4bf3e;
	}


.el-vino nav li a.active{
	cursor: default;
}


/******* NUESTROS VINOS INTERNA  ********/

#detalle-vino{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.nuestros-vinos-interna{
	overflow: hidden;
}

/*.nuestros-vinos-interna h2{
	font: 56px/58px "neutra2displaylight";
	text-transform: uppercase;
	color: #000;
	font-weight: normal;
}*/

.nuestros-vinos-interna h2{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 50px;
	line-height: 52px;
	font-weight: 300;
	text-transform: uppercase;
	color: #000;
}

.nuestros-vinos-interna .left-col,
.nuestros-vinos-interna .right-col{
	width: 36.13%;
	position: relative;
	z-index: 2;
}

.nuestros-vinos-interna .left-col{
	float: left;
}

.nuestros-vinos-interna .right-col{
	float: right;
}

/*.nuestros-vinos-interna h3,
.nuestros-vinos-interna h4{
	font-family: "neutraface2displaybold";
	text-transform: uppercase;
	font-weight: normal;
}*/

.nuestros-vinos-interna h3,
.nuestros-vinos-interna h4{
	font-family: 'sofia_prolight', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.nuestros-vinos-interna h3{
	font-size: 15px;
	line-height: 34px;
	color: #fff;
	background: #000;
	padding-left: 17px;
	margin-bottom: 4px;
}

.nuestros-vinos-interna h4{
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 5px;
}

.nuestros-vinos-interna h4,
.nuestros-vinos-interna p{
	color: #000;
}

/*.nuestros-vinos-interna p{
	font-family: "neutra2displaymedium";
	font-weight: normal;
}*/

.nuestros-vinos-interna p{
	font-family: 'sofia_prolight', sans-serif;
	font-weight: normal;
}

.nuestros-vinos-interna .description{
	padding: 10px 0 10px 17px;
	margin-bottom: 4px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.nuestros-vinos-interna .description img.img-color{
	width: 79.18%;
	height: auto;
}

.nuestros-vinos-interna .description img.img-temperatura{
	width: 59.45%;
	height: auto;
}

a.pdf-descarga,
a.pdf-descarga span,
a.volver-vinos,
a.volver-vinos span{
	display: inline-block;
}

a.pdf-descarga,
a.volver-vinos{
	padding-left: 27px;
	background: url("./assets/nuestros-vinos/sp-nuestros-vinos-interna.png") no-repeat;
	font-size: 11px;
	text-transform: uppercase;
}

a.pdf-descarga{
	line-height: 20px;
	color: #fff;
	background-position: left top;
	margin-top: 12px;
	float: right;
}

a.volver-vinos{
	line-height: 27px;
	color: #fff;
	background-position: left bottom;
	clear: both;
	float: right;
	margin-top: -27px;
	position: relative;
	z-index: 1000;
}

a.pdf-descarga span,
a.volver-vinos span{
	padding: 0 12px 0 9px;
}

a.pdf-descarga span{
	background-color: #b0b0b2;
}

a.volver-vinos span{
	background-color: #000;
}

.contenedor-botella-interna{
	background: url("./assets/nuestros-vinos/bg-contenedor-botella-interna.png") center bottom no-repeat;
	min-height: 300px;
	min-width: 791px;
	position: absolute;
	bottom: -40px;
	z-index: 0;
	left: 180px;
}

.contenedor-botella-interna img{
	position: absolute;
	bottom: 100px;
	left: 277px;
	z-index: 0;
}



/* Estilos parallax - Solo desktop */

.contentPage.parallax{

}

.contentPage.parallax > section{
	background-attachment: fixed;
}

.contentPage.parallax > section.el-vino{
	background-attachment: scroll;
}

.contentPage.parallax section.la-creacion{
	background-size: cover;
}


@media only screen and (max-width: 1110px){

	.scroll-nav {
		display: none;
	}

}

