/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/


body{
	background-image: url("./assets/nuestros-vinos/bg-nuestros-vinos.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.contentPage .contenedor h2{
	font-family: "sofia_prolight", sans-serif;
	font-size: 40px;
	line-height: 38px;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: #000;
	font-weight: 300;
}

.contentPage .contenedor h2 span{
	font-size: 18px;
	line-height: 20px;
}

.contentPage .contenedor h3{
	font-family: "sofia_prolight";
	font-size: 18px;
	line-height: 22px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.contentPage .contenedor h4{
	margin-bottom: 6px;
	font-family: "sofia_prolight", sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 23px;
	text-transform: uppercase;
}

.contentPage .contenedor h4 span{
	text-transform: none;
}

.contentPage .contenedor p,
.contentPage .contenedor li{
	font-family: "sofia_prolight", sans-serif;
	font-weight: 300;
	color: #000;
	font-size: 15px;
	line-height: 22px;
}

.contentPage .contenedor .left-col {
	float: left;
	width: 55%;
}

.contentPage .contenedor .left-col .bloque.scroll{
	width: 55%;
	float: left;
	min-height: 500px;
}

.contentPage .contenedor .left-col .bloque.ingredientes,
.contentPage .contenedor .left-col .bloque.maridaje{
	width: 39%;
	float: right;
}

.contentPage .contenedor .left-col .bloque ol li{
	list-style:decimal inside;
	margin-bottom: 10px;
}

.contentPage .contenedor .left-col .bloque.ingredientes ul li,
.contentPage .contenedor .left-col .bloque.maridaje ul li{
	background: url('./assets/recetas/internas/bg-listas.png') left no-repeat;
	padding-left: 20px;
	line-height: 18px;
	margin-bottom: 10px;
	white-space: nowrap;
}

.contentPage .contenedor .left-col .bloque.maridaje{
	margin-top: 20px;
}

.contentPage .contenedor .right-col{
	width: 40%;
	float: right;
	overflow: hidden;
}

a.volver,
a.nav,
a.descargar{
	color: #fff;
	font-family: "sofia_prolight", sans-serif;
	font-weight: bold;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	background: url('./assets/recetas/internas/bg-btn.png') no-repeat;
	display: inline-block;
	line-height: 26px;
	vertical-align: middle;
}


a.volver{
	background-position: left 0;
	padding-left: 28px;
	float: right;
	margin-bottom: 15px;
}

a.volver span{
	background: #000;
	padding: 0 12px;
	display: inline-block;
}

a.nav{
	width: 27px;
	height: 26px;
	overflow: hidden;
	text-indent: -100%;
}

a.siguiente{
	background-position: right -26px;
}

a.anterior{
	background-position: left 0;
}

a.descargar{
	background-position: left bottom;
	line-height: 26px;
	padding-left: 28px;
}

a.descargar span{
	display: inline-block;
	background: #afafb1;
	padding: 0 12px;
}

.contentPage .contenedor .right-col > img{
	width: 100%;
	height: auto;
	clear: both;
}

.links-container{
	float: right;
	margin-top: 25px;
}







/***TOMATE***/
.tomate .contentPage .contenedor h4{
	color: #a53327;
}


/***OLIVA***/
.oliva .contentPage .contenedor h4{
	color: #839449;
}

/***PAPA**/
.papa .contentPage .contenedor h4{
	color: #b2933b;
}

/** CORDERO***/
.cordero .contentPage .contenedor h4{
	color: #f0772e;
}
