/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/


body{
	background-image: url("./assets/nuestros-vinos/bg-nuestros-vinos.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.recetas .contentPage.principal{
	background: url('./assets/maridaje/bg-suelo-botella.png') right 430px no-repeat;
	padding: 90px 0 0 0;
}

/*.contentPage .contenedor h2{
	font-family: "neutra2displaylight";
	font-size: 40px;
	line-height: 44px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #000;
	font-weight: normal;
}*/

.contentPage .contenedor h2{
	font-family: 'sofia_prolight', sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #000;
}

.contentPage .contenedor h3,
.contentPage .contenedor h4{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #000;
}

.contentPage .contenedor h3{
	text-transform: uppercase;
	margin-bottom: 12px;
}

.contentPage .contenedor h4{
	margin-bottom: 6px;
}

/*.contentPage .contenedor p,
.contentPage .contenedor dd{
	font-family: 'neutra2displaymedium';
	font-weight: normal;
	color: #000;
	font-size: 18px;
}*/

.contentPage .contenedor p,
.contentPage .contenedor dd{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}

.contentPage .contenedor .left-col {
	float: left;
	width: 40%;
}

.contentPage .contenedor .left-col .bloque{
	margin-bottom: 23px;
}

.contentPage .contenedor .left-col .filter-container{
	background: #fff;
	padding: 25px;
	width: 60%;
}

/*.contentPage .contenedor .left-col .filter-container h4{
	color: #000;
	font: 22px/25px 'neutraface2displaybold';
	font-weight: normal;
	text-transform: uppercase;
	background: url('./assets/recetas/fd-title-lupa.png') left top no-repeat;
	text-indent: 25px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 18px;
	margin-bottom: 28px;
}*/

.contentPage .contenedor .left-col .filter-container h4{
	color: #000;
	font-family: 'sofia_prolight', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background: url('./assets/recetas/fd-title-lupa.png') left top no-repeat;
	text-indent: 25px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 18px;
	margin-bottom: 28px;
}

/*.contentPage .contenedor .left-col .filter-container h4 span{
	color: #a53228;
	font-family: 'neutra2displaymedium';
	font-weight: normal;
}*/

.contentPage .contenedor .left-col .filter-container h4 span{
	color: #a53228;
	font-family: 'sofia_prolight', sans-serif;
	font-weight: normal;
}

.contentPage .contenedor .left-col .filter-container h4.cordero span{
	color: #f0772e;
}

.contentPage .contenedor .left-col .filter-container h4.oliva span{
	color: #839449;
}

.contentPage .contenedor .left-col .filter-container h4.tomate span{
	color: #a53228;
}

.contentPage .contenedor .left-col .filter-container h4.papa span{
	color: #b29126;
}

.contentPage .contenedor .left-col li a{
	margin-bottom: 5px;
}

.contentPage .contenedor .left-col li a,
.contentPage .contenedor .left-col li a span{
	display: inline-block;
}

.contentPage .contenedor .left-col li a{
	background: url('./assets/recetas/bg-filters.png') right top no-repeat;
	padding-right: 32px;
	line-height: 29px;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
}

.contentPage .contenedor .left-col li a span{
	background: #000;
	padding: 0 12px;
}

.contentPage .contenedor .left-col li a.cordero.active{
	background-position: right -29px;
}

.contentPage .contenedor .left-col li a.cordero.active span{
	background: #f0772e;
}

.contentPage .contenedor .left-col li a.tomate.active{
	background-position: right -87px;
}

.contentPage .contenedor .left-col li a.tomate.active span{
	background: #a53228;
}

.contentPage .contenedor .left-col li a.papa.active{
	background-position: right -58px;
}

.contentPage .contenedor .left-col li a.papa.active span{
	background: #b29126;
}

.contentPage .contenedor .left-col li a.oliva.active{
	background-position: right -116px;
}

.contentPage .contenedor .left-col li a.oliva.active span{
	background: #839449;
}

.contentPage .contenedor .right-col {
	float: right;
	width: 56%;
	position: relative;
}

.contentPage .contenedor .right-col .description{
	display: none;
}

.contentPage .contenedor .right-col .description img{
	position: absolute;
	z-index: 0;
	top: -70px;
	right: 0;
}

.contentPage .contenedor .right-col .description h3,
.contentPage .contenedor .right-col .description h4,
.contentPage .contenedor .right-col .recetas-cont{
	position: relative;
	z-index: 10;
}

/*.contentPage .contenedor .right-col .description h3{
	font: 45px/47px 'neutra2displaylight';
	font-weight: normal;
	color: #000;
	margin-top: 90px;
	margin-bottom: 50px;
}*/

.contentPage .contenedor .right-col .description h3{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 42px;
	line-height: 47px;
	font-weight: 300;
	color: #000;
	margin-top: 90px;
	margin-bottom: 50px;
}

/*.contentPage .contenedor .right-col .description h4{
	font: 24px/27px 'neutraface2displaybold';
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}*/

.contentPage .contenedor .right-col .description h4{
	font-family: 'sofia_prolight', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*.contentPage .contenedor .right-col .description h5{
	font: 16px/17px 'neutra2displaymedium';
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}*/

.contentPage .contenedor .right-col .description h5{
	font-family: 'sofia_prolight', sans-serif;
	font-size: 16px;
	line-height: 17px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*.contentPage .contenedor .right-col h6 a{
	font: 22px/25px 'neutra2displaymedium';
	font-weight: normal;
}*/

.contentPage .contenedor .right-col h6 a{
	font-family: 'sofia_prolight', sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 25px;
}

.contentPage .contenedor .right-col .recetas-cont{
	margin-bottom: 25px;
	position: relative;
	padding-right: 24px;
}

.contentPage .contenedor .right-col .recetas-cont > a{
	background: url('./assets/recetas/ic-recetas.png') no-repeat;
	width: 17px;
	height: 16px;
	display: block;
	position: absolute;
	right: 0;
	top: 12px;
}



/*receta cordero*/

.contentPage .contenedor .right-col .cordero h3 span{
	color: #f0772e;
}

.contentPage .contenedor .right-col .cordero h4{
	color: #f0772e;
}

.contentPage .contenedor .right-col .cordero h6 a{
	color: #f0772e;
}

.contentPage .contenedor .right-col .cordero .recetas-cont > a{
	background-position: 0 0;
}


/*Receta papa*/

.contentPage .contenedor .right-col .papa h3 span{
	color: #b29126;
}

.contentPage .contenedor .right-col .papa h4{
	color: #b29126;
}

.contentPage .contenedor .right-col .papa h6 a{
	color: #b29126;
}

.contentPage .contenedor .right-col .papa .recetas-cont > a{
	background-position: 0 -16px;
}


/*Receta tomate*/

.contentPage .contenedor .right-col .tomate h3 {
	margin-bottom: 72px;
}

.contentPage .contenedor .right-col .tomate h3 span{
	color: #a53228;
}

.contentPage .contenedor .right-col .tomate h4{
	color: #a53228;
}

.contentPage .contenedor .right-col .tomate h6 a{
	color: #a53228;
}

.contentPage .contenedor .right-col .tomate .recetas-cont > a{
	background-position: 0 -32px;
}


/*Receta oliva*/

.contentPage .contenedor .right-col .oliva h3 {
	margin-bottom: 82px;
}

.contentPage .contenedor .right-col .oliva h3 span{
	color: #839449;
}

.contentPage .contenedor .right-col .oliva h4{
	color: #839449;
}

.contentPage .contenedor .right-col .oliva h6 a{
	color: #839449;
}

.contentPage .contenedor .right-col .oliva .recetas-cont > a{
	background-position: 0 -48px;
}
