@import 'nib'

desktopNote = "only screen and (min-width: 1024px)"
desktop 	= "only screen and (min-width: 960px)"
ipadP 		= "only screen and (min-width: 768px)"
tablet 		= "only screen and (min-width: 600px)"
iphone5L 	= "only screen and (min-width: 568px)"
iphone4L 	= "only screen and (min-width: 420px)"
iphoneP 	= "only screen and (min-width: 320px)"

.articles
	article
		@media iphoneP
			width 100% 
		@media ipadP
			width 30% 
